/* components/utils/Accordion.module.css */

.accordionWrapper {
  width: 100%;
  border-bottom: 1px solid rgba(52, 53, 56, 0.1);
  padding: 15px 0;
}

.QuestionBox {
  padding: 25px 0;
  width: 100%;
  color: rgba(52, 53, 56, 0.8);
}

.programBoxRes {
  padding: 15px 0;
  width: 100%;
  color: rgba(52, 53, 56, 0.8);
}

.questionBoxInner {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.question {
  font-size: 1.6rem;
  padding-right: min(300px, 20%);
}

.programTitle {
  font-size: 1.25rem;
  color: #353535;
  font-weight: 600;
}

.hide {
  display: none;
}

.answers {
  margin-top: 20px;
  display: none;
}

.open {
  display: flex;
}

.sign {
  font-size: 18px;
}

@media (max-width: 900px) {
  .question {
    font-size: 1.25rem;
  }
}
